@page
@model Turkish_Talk.Pages.adminModel
@{
    ViewData["Title"] = "Кабинет администратора";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.cdnfonts.com/css/inter" rel="stylesheet">
    <link rel="stylesheet" href="~/css/admin.css">
    <link rel="shortcut icon" href="/img/logo.svg" type="image/png">
</head>
<body>
    <header id="header" class="header_line">
        <div class="container">
            <nav class="header-line">
                <ul class="navbar">
                    <li><a href="/"><img src="/img/logo.svg"></a></li>
                    <li><a href="/login">Выйти</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="users">
        <div class="container">
            <h2>Пользователи</h2>
            @foreach (var user in Model.Users)
            {
                <div class="user">
                    <form method="post">
                        <input type="hidden" name="userid" value="@user.Id"/>
                        <p>@user.FullName</p>
                        <p>Прогресс: @user.TotalProgress %</p>
                        <input class="buttonSend" asp-page-handler="UserRemove" type="submit" value="Удалить пользователя" onclick="document.location = '#openModal';" />
                    </form>
                </div>
            }
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="modal_windows">
            <a href="#edit_alfabet">Редактировать урок в Алфавите</a>
            <a href="#edit_reading">Редактировать урок в Чтении</a>
            <a href="#edit_gramma">Редактировать урок в Грамматике</a>
            <a href="#edit_mail">Редактировать урок в Письме</a>
            <a href="#edit_words">Редактировать слова в Словаре</a>
        </div>
    </div>

    <div id="edit_alfabet" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Редактировать урок в Алфавите</h3>
                    <a href="#close" title="Close" class="close">×</a>
                </div>
                <div class="modal-body">
                    <form class="modal_form" id="special_form" method="post">
                        <input required name="topic" class="text_field" type="text" placeholder="Тема урока">
                        <label for="complex">Сложность: </label>
                        <select name="complex" class="topic" id="complex">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <label for="number_course">Номер курса: </label>
                        <select name="course" class="topic" id="number_course">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <input required name="testjson" class="text_field" type="text" placeholder="Тест">
                        <input class="buttonSend" asp-page-handler="AlphabetTaskAdd" type="submit" value="Добавить урок">
                        <input class="buttonSend" asp-page-handler="AlphabetTaskRemove" type="submit" value="Удалить урок">
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div id="edit_reading" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Редактировать урок в Чтении</h3>
                    <a href="#close" title="Close" class="close">×</a>
                </div>
                <div class="modal-body">
                    <form enctype="multipart/form-data" method="post" class="modal_form" id="special_form">
                        <input required name="topic" class="text_field" type="text" placeholder="Тема урока">
                        <label for="complex">Сложность: </label>
                        <select name="complex" class="topic" id="complex">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <label for="number_course">Номер курса: </label>
                        <select name="course" class="topic" id="number_course">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <label for="voiceexample">Пример чтения текста</label>
                        <input name="voiceexample" type="file" placeholder="Пример чтения текста">
                        <input required name="text" class="text_field" type="text" placeholder="Текст для чтения">
                        <input required name="testjson" class="text_field" type="text" placeholder="Теcт в формате json">
                        <input class="buttonSend" asp-page-handler="ReadTaskAdd" type="submit" value="Добавить урок">
                        <input class="buttonSend" asp-page-handler="ReadTaskRemove" type="submit" value="Удалить урок">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="edit_gramma" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Редактировать урок в Грамматике</h3>
                    <a href="#close" title="Close" class="close">×</a>
                </div>
                <div class="modal-body">
                    <form method="post" class="modal_form" id="special_form">
                        <input required name="topic" class=" text_field" type="text" placeholder="Тема урока">
                        <label for="complex">Сложность: </label>
                        <select name="complex" class="topic" id="complex">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <label for="number_course">Номер курса: </label>
                        <select name="course" class="topic" id="number_course">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <input required name="rule" class="text_field" type="text" placeholder="Правила">
                        <input required name="radiotestjson" class="text_field" type="text" placeholder="Радиотест">
                        <input required name="testjson" class="text_field" type="text" placeholder="Теcт">
                        <input class="buttonSend" asp-page-handler="GrammarTaskAdd" type="submit" value="Добавить урок">
                        <input class="buttonSend" asp-page-handler="GrammarTaskRemove" type="submit" value="Удалить урок">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="edit_mail" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Редактировать урок в Письме</h3>
                    <a href="#close" title="Close" class="close">×</a>
                </div>
                <div class="modal-body">
                    <form method="post" class="modal_form" id="special_form">
                        <input required name="topic" class="text_field" type="text" placeholder="Тема урока">
                        <label for="complex">Сложность: </label>
                        <select name="complex" class="topic" id="complex">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <label for="number_course">Номер курса: </label>
                        <select name="course" class="topic" id="number_course">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <input required name="rule" class="text_field" type="text" placeholder="Правила">
                        <input required name="fixstring" class="text_field" type="text" placeholder="Фиксированная строка">
                        <input required name="fixstringcorrect" class="text_field" type="text" placeholder="Правильный ответ">
                        <input required name="testjson" class="text_field" type="text" placeholder="Тест с выбором ответа">
                        <input class="buttonSend" asp-page-handler="WriteTaskAdd" type="submit" value="Добавить урок">
                        <input class="buttonSend" asp-page-handler="WriteTaskRemove" type="submit" value="Удалить урок">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="edit_words" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Редактировать урок в Словаре</h3>
                    <a href="#close" title="Close" class="close">×</a>
                </div>
                <div class="modal-body">
                    <form method="post" class="modal_form" id="special_form">
                        <input required name="word" class="text_field" type="text" placeholder="Слово">
                        <input required name="translation" class="text_field" type="text" placeholder="Перевод слова">
                        <label for="complex">Раздел письма: </label>
                        <select name="topicwritting" class="topic" id="complex">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <label for="number_course">Раздел алфавита: </label>
                        <select name="topicalfabet" class="topic" id="number_course">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <input class="buttonSend" asp-page-handler="DictionaryAdd" type="submit" value="Добавить слово">
                        <input class="buttonSend" asp-page-handler="DictionaryTaskRemove" type="submit" value="Удалить слово">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <footer style="background-color: #3B2E51; padding: 10px;">
        <div class="container">
            <div class="footer_line">
                <div class="footer_logo">
                    <a href="#top"><img src="/img/logo.svg"></a>
                </div>
                <div class="text_footer">
                    <p><span>Turkish Talk -</span><br>тренажёр самоучитель по турецкому языку<br> на интерактивной платформе</p>
                </div>
                <div class="social">
                    <a href="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="66" height="66" viewBox="0 0 66 66" fill="none">
                            <path d="M33 0.800049C15.233 0.800049 0.799988 15.2331 0.799988 33C0.799988 50.767 15.233 65.2 33 65.2C50.767 65.2 65.2 50.767 65.2 33C65.2 15.2331 50.767 0.800049 33 0.800049ZM33 3.60005C49.2538 3.60005 62.4 16.7463 62.4 33C62.4 49.2538 49.2538 62.4 33 62.4C16.7462 62.4 3.59999 49.2538 3.59999 33C3.59999 16.7463 16.7462 3.60005 33 3.60005ZM45.723 17.6493C44.7654 17.6493 43.6894 17.8711 42.4308 18.3247C40.4764 19.0289 17.489 28.7891 14.8738 29.8993C13.3786 30.5349 10.5945 31.7172 10.5945 34.5368C10.5945 36.4058 11.6897 37.7425 13.8457 38.5125C15.0049 38.9255 17.7581 39.7601 19.3555 40.1997C20.0331 40.3859 20.7531 40.4813 21.4937 40.4813C22.9427 40.4813 24.4009 40.1203 25.5433 39.4833C25.5335 39.7185 25.54 39.9562 25.568 40.1942C25.7402 41.6642 26.6466 43.0468 27.9906 43.8938C28.8698 44.4482 36.051 49.2599 37.1234 50.0243C38.6298 51.1009 40.2951 51.6704 41.9359 51.6704C45.0719 51.6704 46.124 48.4324 46.6308 46.877C47.3658 44.6188 50.1181 26.255 50.4289 23.0168C50.6403 20.7978 49.7155 18.9706 47.9543 18.1278C47.2949 17.81 46.542 17.6493 45.723 17.6493ZM45.723 20.4493C46.108 20.4493 46.4518 20.5129 46.743 20.6543C47.4052 20.9721 47.742 21.6806 47.6398 22.7516C47.301 26.2838 44.5555 44.2126 43.9703 46.0102C43.4691 47.5474 42.9411 48.8704 41.9359 48.8704C40.9307 48.8704 39.8326 48.518 38.7504 47.7438C37.6682 46.971 30.4818 42.1517 29.4836 41.5231C28.6086 40.9715 27.6825 39.5965 28.9859 38.2665C30.0597 37.1717 38.205 29.2662 38.9008 28.5704C39.4188 28.051 39.1765 27.4247 38.6683 27.4247C38.4933 27.4247 38.2838 27.4984 38.0668 27.6762C37.2156 28.372 25.3487 36.3128 24.3211 36.9512C23.6407 37.374 22.5871 37.6786 21.4937 37.6786C21.0275 37.6786 20.5555 37.6227 20.1019 37.4981C18.5227 37.0627 15.8502 36.2519 14.7891 35.8739C13.7685 35.5099 13.3973 35.1612 13.3973 34.5368C13.3973 33.6492 14.6501 33.0364 15.9703 32.475C17.3647 31.8828 41.4925 21.6369 43.3797 20.9579C44.2533 20.6415 45.0524 20.4493 45.723 20.4493Z" fill="white" />
                        </svg>
                    </a>
                    <a href="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 70 70" fill="none">
                            <path d="M34.1961 4.19991C32.2875 4.21085 30.3734 4.32569 28.443 4.56085C24.7516 5.01475 21.093 5.76944 17.582 7.38272C11.9984 9.94757 8.03905 14.3007 6.89061 20.628C6.4039 23.2968 6.01015 26.0038 5.78593 28.7273C5.3539 34.0155 5.62186 39.3202 7.1203 44.5319C8.30155 48.639 10.4781 52.3304 14.2898 54.7257C15.9031 55.7374 18.0305 56.2296 19.1406 56.7437C19.4523 56.8913 19.5289 56.9788 19.5453 57.0007C19.5617 57.0171 19.6055 57.0554 19.6 57.3835C19.5617 60.7304 19.6 67.2054 19.6 67.2054L19.6055 68.5999H22.1047L22.5094 68.2062C22.5094 68.2062 28.8586 62.0976 31.1555 59.5819C31.5711 59.1335 31.7844 58.8819 31.8281 58.8546C31.8664 58.8272 31.8008 58.8108 32.2273 58.7999C35.2406 58.7397 38.2484 58.6249 41.2562 58.4608C45.2211 58.2421 49.2625 57.8647 53.1508 56.2405C56.5359 54.8241 59.3633 52.5108 61.075 49.0437C62.825 45.489 63.7601 41.721 64.1101 37.8218C64.6898 31.3304 64.4875 24.828 62.6937 18.4187C61.6383 14.6616 59.5164 11.4843 56.2625 9.2421C52.3687 6.56241 47.9773 5.55616 43.6789 4.91632C41.1687 4.54444 38.6422 4.29835 36.1047 4.22178C35.4703 4.20538 34.8359 4.19444 34.1961 4.19991ZM36.0281 7.02178C38.4398 7.08741 40.8516 7.32257 43.2687 7.6835C47.4141 8.30147 51.3242 9.2421 54.6765 11.5499C57.3945 13.4202 59.0898 15.9468 59.9976 19.1679C61.6711 25.1616 61.8844 31.303 61.3211 37.5757C60.9984 41.1905 60.1398 44.5976 58.5594 47.8077C57.1648 50.6405 54.9883 52.4397 52.068 53.6593C48.6773 55.0757 44.9914 55.453 41.1086 55.6663C38.1336 55.8304 35.1531 55.9397 32.1726 55.9999C31.4234 56.0163 30.6906 56.2132 30.1711 56.596C29.6516 56.9788 29.4164 57.3343 29.0937 57.6843C27.4531 59.478 24.1828 62.6335 22.4 64.3616C22.3891 62.2726 22.3726 59.746 22.4 57.4163C22.4109 56.6999 22.2469 55.9671 21.8367 55.3874C21.4266 54.8077 20.8633 54.4577 20.3219 54.2062C18.7414 53.4733 16.6742 52.9155 15.7773 52.3522C12.6437 50.3835 10.8664 47.4304 9.81093 43.7554C8.42733 38.9483 8.16483 33.9991 8.57499 28.9624C8.79374 26.3483 9.17108 23.7288 9.64686 21.1312C10.6422 15.6569 13.7703 12.2116 18.7469 9.92569C21.8914 8.48194 25.2492 7.771 28.7875 7.33897C31.1992 7.04366 33.6109 6.95069 36.0281 7.02178ZM36.6187 13.9999C35.4648 13.9999 34.3437 14.1312 33.2555 14.3718C32.5062 14.5468 32.0305 15.296 32.2 16.0507C32.3695 16.8054 33.1242 17.2757 33.8789 17.1062C34.7594 16.9038 35.6781 16.7999 36.6187 16.7999C43.4547 16.7999 48.9672 22.3124 48.9672 29.1429C48.9672 30.089 48.8633 31.0077 48.6609 31.8937C48.4914 32.6429 48.9617 33.3976 49.7164 33.5671C50.4711 33.7366 51.2203 33.2608 51.3898 32.5062C51.6359 31.4233 51.7672 30.3023 51.7672 29.1429C51.7672 20.7976 44.9695 13.9999 36.6187 13.9999ZM22.6516 16.8054C22.4219 16.7944 22.1867 16.8108 21.9406 16.8655C19.3976 17.4288 16.8711 19.2718 16.8 22.564C16.8711 23.0233 16.8656 23.5155 17.0351 23.9312C17.8664 25.9655 18.5883 28.0655 19.6273 29.9905C24.6859 39.3421 32.3367 45.8444 42.0875 49.9733C43.2523 50.4655 44.4555 50.5694 45.6312 50.0772C47.25 49.4046 48.6226 48.3655 49.5359 46.8726C50.7883 44.8218 50.8047 43.3999 48.743 41.8851C47.3922 40.8898 46.0633 39.8671 44.6961 38.8937C42.6125 37.4171 40.3594 37.1601 38.8062 39.7523C38.7242 39.8835 38.6039 39.9929 38.5 40.1023C37.7016 40.9499 36.7226 41.1577 35.6836 40.7312C31.7406 39.1069 28.6945 36.4874 26.857 32.5882C25.7742 30.2968 26.0695 29.1483 28.093 27.6226C28.2953 27.4749 28.4867 27.3163 28.6726 27.1468C29.5586 26.3374 29.7937 25.3749 29.2687 24.2866C28.082 21.8038 26.5016 19.589 24.5 17.6804C23.9586 17.1663 23.3406 16.8437 22.6516 16.8054ZM36.5969 18.1999C35.9789 18.1999 35.3664 18.2491 34.7648 18.353C34.2562 18.4187 33.8242 18.7577 33.6383 19.2335C33.4523 19.7148 33.5453 20.2562 33.8734 20.6499C34.207 21.0382 34.732 21.2187 35.2351 21.1093C35.6726 21.0382 36.132 20.9999 36.5969 20.9999C41.1469 20.9999 44.8 24.653 44.8 29.203C44.8 29.6679 44.7617 30.1273 44.6906 30.5648C44.5812 31.0679 44.7617 31.5929 45.15 31.9265C45.5437 32.2546 46.0851 32.3476 46.5664 32.1616C47.0422 31.9757 47.3812 31.5437 47.4469 31.0351C47.5508 30.4335 47.6 29.821 47.6 29.203C47.6 23.1437 42.6562 18.1999 36.5969 18.1999ZM36.4 22.3999C35.8969 22.3944 35.4266 22.6569 35.1695 23.0944C34.918 23.5319 34.918 24.0679 35.1695 24.5054C35.4266 24.9429 35.8969 25.2054 36.4 25.1999C38.7351 25.1999 40.6 27.0648 40.6 29.3999C40.5945 29.903 40.857 30.3733 41.2945 30.6304C41.732 30.8819 42.268 30.8819 42.7055 30.6304C43.143 30.3733 43.4055 29.903 43.4 29.3999C43.4 25.5499 40.25 22.3999 36.4 22.3999Z" fill="white" />
                        </svg>
                    </a>
                    <a href="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 70 70" fill="none">
                            <path d="M35 2.80005C17.233 2.80005 2.79999 17.2331 2.79999 35C2.79999 52.767 17.233 67.2 35 67.2C52.767 67.2 67.2 52.767 67.2 35C67.2 17.2331 52.767 2.80005 35 2.80005ZM35 5.60005C51.2537 5.60005 64.4 18.7463 64.4 35C64.4 51.2538 51.2537 64.4 35 64.4C18.7462 64.4 5.59999 51.2538 5.59999 35C5.59999 18.7463 18.7462 5.60005 35 5.60005ZM21.0027 25.2L15.3535 25.2028C15.3535 25.2028 15.0302 25.1846 14.6398 25.2356C14.2494 25.2866 13.6727 25.3103 13.0812 25.9793L13.0785 25.9821L13.0758 25.9848C12.5497 26.5864 12.5698 27.2866 12.6355 27.6719C12.7011 28.0558 12.8488 28.3446 12.8488 28.3446V28.3473C12.9031 28.4806 17.0049 38.5307 22.1758 43.9305C25.8231 47.7418 29.724 49 33.198 49H35C35.5928 49 36.1223 48.9731 36.709 48.6692C37.2956 48.3653 37.8 47.5266 37.8 46.8754C37.8 46.1738 37.8172 45.4936 37.9066 45.1145C37.9901 44.7605 37.9579 44.8474 37.9914 44.8465C38.025 44.8538 38.086 44.868 38.2019 44.9204C38.4517 45.0333 38.8376 45.2853 39.2656 45.6176C40.1203 46.2812 41.1327 47.2438 42.268 47.9883C43.894 49.066 45.6586 49 45.6586 49H51.4773L51.5402 48.9946C51.5402 48.9946 52.4331 48.9743 53.3504 48.4122C53.809 48.1311 54.3541 47.6155 54.5371 46.8426C54.7201 46.0698 54.4864 45.2589 54.0367 44.5458C53.8724 44.2842 53.0749 43.1283 49.8914 40.302C49.0689 39.5726 48.5081 39.0562 48.2863 38.7817C48.2076 38.6842 48.201 38.6936 48.1851 38.6887C48.2037 38.6408 48.3876 38.2535 48.8797 37.6141C49.3925 36.9477 50.1718 36.0192 51.1738 34.743C52.451 33.1159 53.347 31.5514 53.9109 30.2313C54.1929 29.5712 54.3927 28.9723 54.5125 28.4293C54.6322 27.8864 54.7278 27.4351 54.5508 26.7915C54.4187 26.3123 54.0601 25.8832 53.7086 25.6567C53.3571 25.4302 53.0293 25.3449 52.7351 25.2903C52.1468 25.1811 51.6277 25.2 51.1437 25.2C50.1304 25.2 45.6257 25.2356 45.2539 25.2356C44.8175 25.2356 44.1213 25.4173 43.7992 25.602C42.9994 26.06 42.7492 26.6875 42.7492 26.6875L42.6726 26.8215L42.6289 26.9719C42.6289 26.9719 41.6031 30.2902 40.548 32.0004H40.5453C39.3046 34.0152 38.3792 34.8144 37.9723 35.0411C37.929 35.0651 37.953 35.0524 37.923 35.0684C37.8912 34.9757 37.851 34.8481 37.8246 34.6118C37.7651 34.0794 37.8 33.3298 37.8 32.6047C37.8 30.5966 37.9508 29.3443 37.7836 28.1586C37.7 27.5658 37.4871 26.9056 37.0015 26.3977C36.516 25.8898 35.8888 25.6398 35.2625 25.4954H35.2598C34.607 25.345 33.9036 25.216 32.2137 25.2C30.0605 25.18 28.6581 25.2467 27.4121 25.8016L27.3984 25.8098L27.3875 25.8153C26.8951 26.0465 26.507 26.3116 26.1652 26.6657C25.9943 26.8427 25.7916 26.9716 25.6512 27.5352C25.5809 27.817 25.5732 28.3502 25.8918 28.7821C26.2103 29.214 26.6567 29.3442 26.9199 29.3782C26.8714 29.3719 27.127 29.4281 27.3246 29.5258C27.5222 29.6235 27.6938 29.7642 27.7375 29.8211V29.8239C27.7192 29.8001 27.909 30.2717 27.959 30.7016C28.009 31.1315 28 31.4782 28 31.4782L27.9973 31.5629L28.0055 31.6477C28.0055 31.6477 28.0914 32.5989 28.0465 33.5809C28.024 34.0719 27.9619 34.5661 27.8797 34.8688C27.8753 34.8848 27.8733 34.8792 27.8687 34.8934C27.5182 34.6486 26.71 33.7956 25.5965 31.9567C24.5672 30.2556 23.6031 27.1961 23.6031 27.1961L23.5812 27.1278L23.5566 27.0622C23.5566 27.0622 23.3769 26.3787 22.5832 25.8208C21.8393 25.297 21.1312 25.2247 21.1312 25.2247L21.0027 25.2ZM20.6773 28C20.7574 28.0293 20.9248 28.0896 20.9562 28.104L20.9234 28.0055L20.9672 28.1067L20.9726 28.1094V28.1122H20.9754C20.905 28.0629 20.9647 28.1118 20.9726 28.1231C21.0113 28.255 21.8662 31.1996 23.2012 33.4059C24.4173 35.4144 25.3158 36.5396 26.2965 37.2122C27.2762 37.8841 28.5936 37.8148 29.2633 37.4665C30.1582 37.0017 30.4083 36.2378 30.5812 35.6016C30.7541 34.9654 30.8158 34.3199 30.8437 33.7094C30.897 32.5446 30.8059 31.5918 30.7973 31.4973C30.7987 31.4447 30.8111 30.9896 30.7398 30.3762C30.668 29.7582 30.5392 28.9901 29.9906 28.2188C30.6051 28.1275 30.9462 27.9885 32.1863 28C33.7678 28.0149 34.0084 28.0809 34.6308 28.2243C34.9698 28.3024 35.0075 28.3672 34.9754 28.3336C34.9433 28.3001 34.9726 28.2776 35.0109 28.5497C35.0877 29.0936 35 30.4885 35 32.6047C35 33.2013 34.9424 34.0425 35.041 34.9235C35.1395 35.8039 35.4147 36.9304 36.4793 37.5895C37.0858 37.9649 38.2446 38.094 39.3367 37.4856C40.4288 36.8772 41.5495 35.71 42.9297 33.4688C44.293 31.259 45.1083 28.3536 45.1965 28.0465C45.1965 28.0465 45.212 28.0364 45.2211 28.0301C45.2458 28.0313 45.2143 28.0356 45.2539 28.0356C45.7725 28.0356 50.1971 28 51.1437 28C51.4042 28 51.5185 28.0141 51.7125 28.0219C51.6341 28.3242 51.5287 28.6762 51.3351 29.1293C50.8802 30.1945 50.0994 31.576 48.9699 33.0149C47.9965 34.2545 47.2404 35.1537 46.6621 35.9051C46.0838 36.6566 45.6296 37.2493 45.4398 38.1063C45.2501 38.9633 45.6121 39.9299 46.107 40.5426C46.6019 41.1553 47.2144 41.6714 48.032 42.3965C51.1121 45.1311 51.6175 45.9588 51.666 46.036V46.0387C51.718 46.1212 51.6843 46.0383 51.7043 46.0797C51.5296 46.1342 51.3218 46.1958 51.3023 46.2H45.6367H45.6285C45.6285 46.2 44.5865 46.1659 43.8129 45.6532L43.8101 45.6504H43.8074C42.989 45.1144 42 44.1952 40.9828 43.4055C40.4742 43.0107 39.9564 42.6407 39.3558 42.3692C38.7553 42.0977 37.9941 41.9052 37.193 42.145C36.0334 42.492 35.3899 43.5956 35.1832 44.4719C35.0348 45.101 35.0568 45.6481 35.0519 46.1973C35.012 46.1994 35.0466 46.2 35 46.2H33.198C30.3525 46.2 27.3922 45.3314 24.1992 41.9946C20.048 37.6596 16.3442 29.2763 15.7883 28.0028L20.6773 28ZM45.098 28.011C45.0726 28.0166 45.1453 28.0221 45.2047 28.0274C45.1966 28.0317 45.2054 28.0235 45.1937 28.0301C45.1926 28.0067 45.1322 28.0034 45.098 28.011Z" fill="white" />
                        </svg>
                    </a>
                    <a href="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 70 70" fill="none">
                            <path d="M35 3.64575C29.5535 3.6516 24.2023 5.0748 19.4725 7.77541C14.7426 10.476 10.7971 14.3611 8.02373 19.0486C5.25036 23.7361 3.74465 29.0647 3.65464 34.5105C3.56464 39.9562 4.89344 45.3316 7.5104 50.1083L3.64581 66.3541L19.8916 62.4895C24.0818 64.7881 28.742 66.0984 33.516 66.3203C38.2901 66.5421 43.0517 65.6697 47.437 63.7696C51.8223 61.8696 55.7152 58.9922 58.8182 55.3573C61.9212 51.7225 64.1522 47.4264 65.3408 42.7973C66.5293 38.1682 66.6439 33.3287 65.6758 28.6486C64.7076 23.9684 62.6824 19.5715 59.7549 15.7939C56.8274 12.0162 53.0751 8.95782 48.7846 6.85235C44.4942 4.74688 39.7792 3.65007 35 3.64575ZM19.3229 17.8937H27.8687C28.2555 17.8937 28.6264 18.0473 28.8999 18.3208C29.1734 18.5943 29.3271 18.9652 29.3271 19.352C29.2792 21.2968 29.606 23.2327 30.2896 25.0541C30.5839 25.6638 30.6487 26.3592 30.4719 27.0127C30.2951 27.6663 29.8886 28.2342 29.3271 28.6124L26.3375 31.5291C27.663 34.1177 29.3963 36.4763 31.4708 38.5145C33.4925 40.6228 35.8415 42.3907 38.4271 43.7499L41.3437 40.7603C42.8021 39.302 43.4729 39.302 44.9021 39.7978C46.7234 40.4814 48.6593 40.8082 50.6041 40.7603C50.9852 40.7781 51.3459 40.9374 51.6156 41.2072C51.8854 41.4769 52.0447 41.8376 52.0625 42.2187V50.7645C52.0447 51.1456 51.8854 51.5063 51.6156 51.776C51.3459 52.0457 50.9852 52.2051 50.6041 52.2228C42.0256 51.8491 33.894 48.2928 27.7958 42.2478C21.7414 36.156 18.1834 28.0206 17.8208 19.4395C17.8243 19.0381 17.9823 18.6535 18.2621 18.3656C18.5418 18.0777 18.9217 17.9087 19.3229 17.8937Z" stroke="white" stroke-width="2.67" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <div id="openModal" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p>Пользователь удалён</p>
                </div>
                <div class="modal-header">
                    <a href="#close" title="Close" class="close">ОКЕЙ</a>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/modal.js"></script>
</body>

