@page
@model Turkish_Talk.Pages.alfabetModel
@{
}
<!--добавить форма (form), выпадающий список для выбора номера урока -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.cdnfonts.com/css/inter" rel="stylesheet">
    <link rel="stylesheet" href="~/css/alfabet.css">
    <link rel="shortcut icon" href="/img/logo_title.svg" type="image/png">
</head>
<body>
    <div style="background-image: url('/img/background_alfabet.png'); background-attachment: fixed; background-repeat: no-repeat; background-size: cover;">
        <header id="header">
            <div class="container">
                <nav class="header-line">
                    <ul class="navbar">
                        <li><a href="#"><img src="/img/logo.svg"></a></li>
                        <li><a href="#advantages">Преимущества</a></li>
                        <li><a href="#">О тренажере</a></li>
                        <li><a href="#feedback">Напишите нам</a></li>
                        <li><a href="/login">Войти</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <div id="main" class="main">
            <div class="container">
                <div class="main-block">
                    <div class="main-text">
                        <div class="main-title">
                            <h1>Раздел изучения турецкого алфавита</h1>
                        </div>
                        <div class="main-subtitle">
                            <p>Начни изучение с самого начала</p>
                        </div>
                        <button class="cat">
                            <p>Начать учиться</p>
                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="24" viewBox="0 0 50 24" fill="none">
                                <path d="M49.1978 13.0607C49.7836 12.4749 49.7836 11.5251 49.1978 10.9393L39.6519 1.3934C39.0661 0.807612 38.1163 0.807612 37.5306 1.3934C36.9448 1.97918 36.9448 2.92893 37.5306 3.51472L46.0158 12L37.5306 20.4853C36.9448 21.0711 36.9448 22.0208 37.5306 22.6066C38.1163 23.1924 39.0661 23.1924 39.6519 22.6066L49.1978 13.0607ZM0.755615 13.5H48.1372V10.5H0.755615V13.5Z" fill="white" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main_block">
        <div class="container">
            <div class="alfabet">
                <h2>Алфавит</h2>
                <img src="/img/alfabet.png" alt="">
            </div>
            <div class="learn">
                <h2>Выучи слова</h2>
                <div class="words">
                    <div class="word">
                        <p>Kaz - девочка</p>
                        <p>Kaz - девочка</p>
                        <p>Kaz - девочка</p>
                        <p>Kaz - девочка</p>
                        <p>Kaz - девочка</p>
                    </div>
                    <div class="word">
                        <p>Kaz - девочка</p>
                        <p>Kaz - девочка</p>
                        <p>Kaz - девочка</p>
                        <p>Kaz - девочка</p>
                        <p>Kaz - девочка</p>
                    </div>
                    <div class="word">
                        <p>Kaz - девочка</p>
                        <p>Kaz - девочка</p>
                        <p>Kaz - девочка</p>
                        <p>Kaz - девочка</p>
                        <p>Kaz - девочка</p>
                    </div>
                </div>
                <button class="btn_more"><p>Больше слов</p></button>
            </div>
            <div class="test">
                <h2>Тест №1</h2>
                <div class="question">
                    <ol>
                        <li>Вопрос 1</li>
                        <input type="text" class="text_field">
                        <li>Вопрос 1</li>
                        <input type="text" class="text_field">
                        <li>Вопрос 1</li>
                        <input type="text" class="text_field">
                        <li>Вопрос 1</li>
                        <input type="text" class="text_field">
                        <li>Вопрос 1</li>
                        <input type="text" class="text_field">
                    </ol>
                </div>
                <button class="btn_answer"><p>Ответить</p></button>
            </div>
        </div>
    </div>

    <script src="/js/header_scroll.js"></script>
</body>