@page
@model IndexModel
@{
    ViewData["Title"] = "Turkish Talk. Тренажер для изучения турецого языка";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link href="https://fonts.cdnfonts.com/css/inter" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Turkish_Talk.styles.css" asp-append-version="true" />
    <link rel="shortcut icon" href="~/img/лого_бел.png" type="image/png">
</head>
    <header id="header">
        <div class="container">
            <nav class="header-line">
                <ul class="navbar">
                    <li><a href="/"><img src="img/logo.svg"></a></li>
                    <li><a href="#advantages">Преимущества</a></li>
                    <li><a href="#">О тренажере</a></li>
                    <li><a href="#feedback">Напишите нам</a></li>
                    <li><a href="/login">Личный кабинет</a></li>
                </ul>
            </nav>
        </div>
    </header>
<div style="background-image: url('img/main_back.svg'); background-attachment: fixed;">
    <div id="main" class="main">
        <div class="container">
            <div class="main-block">
                <div class="main-text">
                    <div class="main-title">
                        <h1>Тренажёр самоучитель по <span style="color: #FFDD28;">турецкому языку</span><br> на интерактивной платформе<br> от <span style="color: #9063DB;">Elementary</span> до <span style="color: #9063DB;">Upper-intermediate</span></h1>
                    </div>
                    <div class="main-subtitle">
                        <p>
                            Множество различных тестов для разного уровня знания языка,<br>
                            словарь и отслеживание прогресса выученных слов
                        </p>
                    </div>
                    <button class="cat">
                        <p>Начать учиться</p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="24" viewBox="0 0 50 24" fill="none">
                            <path d="M49.1978 13.0607C49.7836 12.4749 49.7836 11.5251 49.1978 10.9393L39.6519 1.3934C39.0661 0.807612 38.1163 0.807612 37.5306 1.3934C36.9448 1.97918 36.9448 2.92893 37.5306 3.51472L46.0158 12L37.5306 20.4853C36.9448 21.0711 36.9448 22.0208 37.5306 22.6066C38.1163 23.1924 39.0661 23.1924 39.6519 22.6066L49.1978 13.0607ZM0.755615 13.5H48.1372V10.5H0.755615V13.5Z" fill="white" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="whatneed" style="margin-top: 60px;">
    <div class="container">
        <div class="about_title">
            <h1>Для чего нужен тренажёр</h1>
        </div>
        <div class="about_content">
            <div class="points">
                <div class="paragraph">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="58" viewBox="0 0 50 58" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.37636 24.9313C5.15597 23.5324 3.17734 23.5324 1.95695 24.9313C0.736559 26.3303 0.736559 28.5986 1.95695 29.9976L16.5403 46.7151C17.7607 48.1139 19.7393 48.1139 20.9598 46.7151L48.0431 15.6683C49.2633 14.2693 49.2633 12.0011 48.0431 10.6021C46.8227 9.20311 44.8439 9.20311 43.6235 10.6021L18.75 39.1158L6.37636 24.9313Z" fill="#9063DB" />
                    </svg>
                    <p>Закрепить и повысить свой уровень владения <span>турецким</span> языком</p>
                </div>
                <div class="paragraph">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="58" viewBox="0 0 50 58" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.37636 24.9313C5.15597 23.5324 3.17734 23.5324 1.95695 24.9313C0.736559 26.3303 0.736559 28.5986 1.95695 29.9976L16.5403 46.7151C17.7607 48.1139 19.7393 48.1139 20.9598 46.7151L48.0431 15.6683C49.2633 14.2693 49.2633 12.0011 48.0431 10.6021C46.8227 9.20311 44.8439 9.20311 43.6235 10.6021L18.75 39.1158L6.37636 24.9313Z" fill="#9063DB" />
                    </svg>
                    <p>Улучшить навык понимания <span>турецких</span> текстов и контекста в котором они употребляются</p>
                </div>
                <div class="paragraph">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="58" viewBox="0 0 50 58" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.37636 24.9313C5.15597 23.5324 3.17734 23.5324 1.95695 24.9313C0.736559 26.3303 0.736559 28.5986 1.95695 29.9976L16.5403 46.7151C17.7607 48.1139 19.7393 48.1139 20.9598 46.7151L48.0431 15.6683C49.2633 14.2693 49.2633 12.0011 48.0431 10.6021C46.8227 9.20311 44.8439 9.20311 43.6235 10.6021L18.75 39.1158L6.37636 24.9313Z" fill="#9063DB" />
                    </svg>
                    <p>Увеличить словарный запас, выучить новые слова, полезные фразы и начать их использовать</p>
                </div>
                <div class="paragraph" id="advantages">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="58" viewBox="0 0 50 58" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.37636 24.9313C5.15597 23.5324 3.17734 23.5324 1.95695 24.9313C0.736559 26.3303 0.736559 28.5986 1.95695 29.9976L16.5403 46.7151C17.7607 48.1139 19.7393 48.1139 20.9598 46.7151L48.0431 15.6683C49.2633 14.2693 49.2633 12.0011 48.0431 10.6021C46.8227 9.20311 44.8439 9.20311 43.6235 10.6021L18.75 39.1158L6.37636 24.9313Z" fill="#9063DB" />
                    </svg>
                    <p>Убрать пробелы в грамматике и закрепить забытые либо плохо усвоенные темы</p>
                </div>
            </div>
            <div id="feedback" class="whatneed_img">
                <img src="img/whatneed_img.svg">
            </div>
        </div>
    </div>
</div>
<div class="feedback">
    <div class="container">
        <div class="feedback_block">
            <section class="feedback_text">
                <h1>Хотите узнать подробнее про тренажер?</h1>
                <p>Оставьте нам заявку, и мы обязательно<br> свяжемся с вами</p>
            </section>
            <form class="form_feedback" action="#" id="form">
                <div class="text-field">
                    <input class="text-field__input _req" type="text" name="fio" placeholder="Имя*">
                    <input class="text-field__input _req" type="text" name="phone_number" placeholder="Номер телефона*">
                </div>
                <input class="buttonsend" type="submit" value="ОТПРАВИТЬ">
            </form>
        </div>
    </div>
</div>
<div class="advantages" style="margin-top: 60px;">
    <div class="container">
        <div class="about_title">
            <h1>Преимущества тренажёра</h1>
        </div>
        <div class="about_content">
            <div class="points">
                <div class="paragraph">
                    <div class="icon_about">
                        <svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" viewBox="0 0 54 55" fill="none">
                            <path d="M27 48.125C34.875 39.875 42.75 32.4876 42.75 23.375C42.75 14.2623 35.6985 6.875 27 6.875C18.3015 6.875 11.25 14.2623 11.25 23.375C11.25 32.4876 19.125 39.875 27 48.125Z" stroke="#611FCB" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M27 29.7916C30.728 29.7916 33.75 26.7137 33.75 22.9166C33.75 19.1197 30.728 16.0416 27 16.0416C23.272 16.0416 20.25 19.1197 20.25 22.9166C20.25 26.7137 23.272 29.7916 27 29.7916Z" stroke="#611FCB" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                    <section class="about_text">
                        <h1>Интерактивная платформа</h1>
                        <p>Упражнения в тренажёре проходятся на онлайн-платформе без установки сторонних программ прямо из окна браузера</p>
                    </section>
                </div>
                <div class="paragraph" style="margin-top: 60px;">
                    <div class="icon_about">
                        <svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" viewBox="0 0 51 49" fill="none">
                            <path d="M47.0156 5.74219H46.2188V4.21094C46.2188 2.9444 45.1464 1.91406 43.8281 1.91406C42.5099 1.91406 41.4375 2.9444 41.4375 4.21094V5.74219H9.5625V4.21094C9.5625 2.9444 8.49011 1.91406 7.17188 1.91406C5.85364 1.91406 4.78125 2.9444 4.78125 4.21094V5.74219H3.98438C1.78739 5.74219 0 7.45948 0 9.57031V43.2578C0 45.3686 1.78739 47.0859 3.98438 47.0859H47.0156C49.2126 47.0859 51 45.3686 51 43.2578V9.57031C51 7.45948 49.2126 5.74219 47.0156 5.74219ZM43.0312 4.21094C43.0312 3.78879 43.3887 3.44531 43.8281 3.44531C44.2675 3.44531 44.625 3.78879 44.625 4.21094V6.50599C44.625 6.50666 44.6249 6.50724 44.6249 6.50781C44.6249 6.50839 44.625 6.50906 44.625 6.50963V8.80469C44.625 9.22683 44.2675 9.57031 43.8281 9.57031C43.3887 9.57031 43.0312 9.22683 43.0312 8.80469V4.21094ZM7.17188 3.44531C7.61125 3.44531 7.96875 3.78879 7.96875 4.21094V8.80469C7.96875 9.22683 7.61125 9.57031 7.17188 9.57031C6.7325 9.57031 6.375 9.22683 6.375 8.80469V6.50877C6.375 6.50848 6.375 6.5081 6.375 6.50781C6.375 6.50753 6.375 6.50724 6.375 6.50686V4.21094C6.375 3.78879 6.7325 3.44531 7.17188 3.44531ZM47.0156 45.5547H3.98438C2.66614 45.5547 1.59375 44.5243 1.59375 43.2578V14.1641H39.8438C40.2838 14.1641 40.6406 13.8213 40.6406 13.3984C40.6406 12.9756 40.2838 12.6328 39.8438 12.6328H1.59375V9.57031C1.59375 8.30378 2.66614 7.27344 3.98438 7.27344H4.78125V8.80469C4.78125 10.0712 5.85364 11.1016 7.17188 11.1016C8.49011 11.1016 9.5625 10.0712 9.5625 8.80469V7.27344H41.4375V8.80469C41.4375 10.0712 42.5099 11.1016 43.8281 11.1016C45.1464 11.1016 46.2188 10.0712 46.2188 8.80469V7.27344H47.0156C48.3339 7.27344 49.4062 8.30378 49.4062 9.57031V12.6328H47.8125C47.3724 12.6328 47.0156 12.9756 47.0156 13.3984C47.0156 13.8213 47.3724 14.1641 47.8125 14.1641H49.4062V43.2578C49.4062 44.5243 48.3339 45.5547 47.0156 45.5547Z" fill="#611FCB" />
                            <path d="M44.625 12.6328H43.0312C42.5912 12.6328 42.2344 12.9756 42.2344 13.3984C42.2344 13.8213 42.5912 14.1641 43.0312 14.1641H44.625C45.0651 14.1641 45.4219 13.8213 45.4219 13.3984C45.4219 12.9756 45.0651 12.6328 44.625 12.6328Z" fill="black" />
                            <path d="M20.0759 24.2861L24.4689 20.0653C24.4877 20.0473 24.5054 20.0284 24.5222 20.0087C24.5294 20.0004 24.5355 19.9916 24.5422 19.9831C24.5512 19.9717 24.5604 19.9605 24.5686 19.9485C24.576 19.938 24.5824 19.927 24.5892 19.9162C24.5957 19.9056 24.6026 19.8953 24.6087 19.8844C24.615 19.8731 24.6203 19.8614 24.626 19.8498C24.6315 19.8388 24.6372 19.8279 24.6421 19.8166C24.6469 19.8053 24.6509 19.7937 24.6552 19.7821C24.6597 19.7701 24.6645 19.7582 24.6684 19.7459C24.672 19.7342 24.6747 19.7225 24.6778 19.7107C24.6811 19.6982 24.6847 19.686 24.6873 19.6733C24.6902 19.6595 24.6919 19.6455 24.6939 19.6316C24.6954 19.6208 24.6976 19.6102 24.6987 19.5993C24.7039 19.5489 24.7039 19.4983 24.6987 19.448C24.6976 19.4371 24.6954 19.4264 24.6939 19.4156C24.6918 19.4018 24.6901 19.3878 24.6873 19.374C24.6847 19.3614 24.681 19.349 24.6778 19.3366C24.6747 19.3248 24.672 19.3129 24.6684 19.3014C24.6645 19.2891 24.6597 19.2772 24.6552 19.2652C24.6509 19.2536 24.6469 19.242 24.6421 19.2306C24.6372 19.2193 24.6314 19.2084 24.626 19.1974C24.6203 19.1858 24.615 19.1742 24.6087 19.1629C24.6026 19.152 24.5957 19.1416 24.5892 19.1311C24.5824 19.1203 24.576 19.1093 24.5686 19.0988C24.5604 19.0869 24.5512 19.0757 24.5422 19.0642C24.5356 19.0557 24.5294 19.0469 24.5222 19.0386C24.4889 18.9994 24.4515 18.9635 24.4108 18.9315C24.4024 18.9249 24.3936 18.9192 24.3851 18.913C24.3728 18.9041 24.3609 18.8951 24.3481 18.8869C24.3375 18.88 24.3263 18.8741 24.3154 18.8678C24.3041 18.8613 24.293 18.8544 24.2813 18.8484C24.2699 18.8426 24.2584 18.8377 24.2468 18.8324C24.2348 18.827 24.2229 18.8211 24.2105 18.8162C24.1994 18.8118 24.188 18.8083 24.1768 18.8044C24.1635 18.7998 24.1505 18.7949 24.1369 18.791C24.1257 18.7877 24.1143 18.7853 24.103 18.7826C24.0891 18.7792 24.0755 18.7755 24.0613 18.7728C24.0484 18.7703 24.0353 18.7689 24.0223 18.7671C24.0096 18.7652 23.9971 18.7629 23.9842 18.7618C23.9611 18.7596 23.9379 18.7586 23.9147 18.7584C23.9117 18.7584 23.9088 18.7581 23.9058 18.7581H15.1406C14.7005 18.7581 14.3437 19.1009 14.3437 19.5237C14.3437 19.9465 14.7005 20.2893 15.1406 20.2893H21.9821L17.7643 24.3417C17.7456 24.3597 17.7279 24.3785 17.711 24.3982C17.7039 24.4066 17.6978 24.4154 17.691 24.4239C17.6821 24.4353 17.6729 24.4465 17.6646 24.4584C17.6573 24.4689 17.6509 24.48 17.6441 24.4908C17.6375 24.5013 17.6307 24.5116 17.6246 24.5225C17.6183 24.5338 17.613 24.5454 17.6073 24.5569C17.6019 24.568 17.5961 24.5789 17.5912 24.5904C17.5863 24.6017 17.5824 24.6132 17.5782 24.6247C17.5737 24.6367 17.5688 24.6487 17.5649 24.661C17.5612 24.6727 17.5585 24.6845 17.5554 24.6962C17.5522 24.7087 17.5486 24.7209 17.546 24.7337C17.5431 24.7474 17.5414 24.7614 17.5394 24.7753C17.5378 24.7861 17.5356 24.7967 17.5345 24.8076C17.5294 24.858 17.5294 24.9086 17.5345 24.959C17.5356 24.9699 17.5378 24.9805 17.5394 24.9913C17.5415 25.0052 17.5432 25.0191 17.546 25.0329C17.5486 25.0456 17.5523 25.0579 17.5554 25.0703C17.5585 25.0821 17.5612 25.094 17.5649 25.1056C17.5688 25.1179 17.5737 25.1299 17.5782 25.1419C17.5824 25.1534 17.5863 25.1649 17.5912 25.1762C17.5961 25.1876 17.6019 25.1985 17.6073 25.2097C17.613 25.2212 17.6183 25.2328 17.6246 25.244C17.6307 25.255 17.6375 25.2653 17.6441 25.2758C17.6509 25.2866 17.6573 25.2976 17.6646 25.3082C17.6729 25.32 17.6821 25.3312 17.691 25.3427C17.6977 25.3512 17.7039 25.36 17.711 25.3684C17.7444 25.4075 17.7818 25.4434 17.8225 25.4755C17.8309 25.4821 17.8396 25.4877 17.8482 25.4939C17.8605 25.5028 17.8724 25.5118 17.8852 25.5201C17.8959 25.5269 17.9071 25.5329 17.918 25.5392C17.9293 25.5457 17.9403 25.5525 17.952 25.5584C17.9634 25.5644 17.9753 25.5693 17.987 25.5746C17.9988 25.58 18.0105 25.5856 18.0226 25.5905C18.0341 25.595 18.0457 25.5986 18.0573 25.6026C18.0702 25.6071 18.083 25.6119 18.0962 25.6158C18.1079 25.6191 18.1197 25.6216 18.1315 25.6245C18.1448 25.6277 18.1581 25.6314 18.1717 25.6339C18.1856 25.6366 18.1995 25.6382 18.2135 25.6401C18.2252 25.6417 18.2368 25.6439 18.2487 25.645C18.2748 25.6474 18.3011 25.6488 18.3273 25.6488C22.2819 25.6488 25.4992 28.7399 25.4992 32.5394C25.4992 36.3389 22.2819 39.43 18.3273 39.43C16.4388 39.43 14.6561 38.7307 13.3076 37.4609C12.9933 37.1649 12.4887 37.1698 12.1807 37.4718C11.8726 37.7738 11.8777 38.2585 12.1921 38.5545C13.8402 40.1066 16.0191 40.9613 18.3273 40.9613C23.1607 40.9613 27.0929 37.1832 27.0929 32.5394C27.093 28.4707 24.0744 25.0668 20.0759 24.2861Z" fill="#611FCB" />
                            <path d="M35.0585 19.4481C35.0574 19.4372 35.0552 19.4266 35.0537 19.4158C35.0516 19.4019 35.0499 19.3879 35.0471 19.3741C35.0445 19.3615 35.0408 19.3491 35.0376 19.3367C35.0345 19.3249 35.0318 19.3131 35.0281 19.3015C35.0243 19.2892 35.0195 19.2774 35.015 19.2653C35.0107 19.2537 35.0067 19.2421 35.0019 19.2308C34.997 19.2194 34.9912 19.2086 34.9858 19.1976C34.9801 19.186 34.9748 19.1743 34.9685 19.163C34.9624 19.1521 34.9555 19.1418 34.949 19.1312C34.9422 19.1204 34.9358 19.1094 34.9284 19.0989C34.9202 19.087 34.911 19.0758 34.902 19.0643C34.8954 19.0558 34.8892 19.047 34.882 19.0387C34.8487 18.9995 34.8113 18.9637 34.7706 18.9316C34.7622 18.925 34.7534 18.9193 34.7449 18.9131C34.7326 18.9042 34.7207 18.8952 34.7079 18.887C34.6972 18.8801 34.6861 18.8743 34.6752 18.868C34.6639 18.8614 34.6528 18.8546 34.6411 18.8485C34.6297 18.8427 34.6182 18.8378 34.6066 18.8325C34.5946 18.8271 34.5827 18.8212 34.5703 18.8164C34.5592 18.812 34.5478 18.8084 34.5366 18.8045C34.5233 18.7999 34.5103 18.795 34.4967 18.7911C34.4855 18.7878 34.4741 18.7855 34.4628 18.7827C34.4489 18.7793 34.4353 18.7756 34.4211 18.7729C34.4082 18.7704 34.3951 18.769 34.3821 18.7672C34.3694 18.7654 34.3569 18.7631 34.344 18.7619C34.3209 18.7597 34.2977 18.7588 34.2745 18.7586C34.2715 18.7586 34.2686 18.7582 34.2656 18.7582C34.2627 18.7582 34.2598 18.7586 34.2568 18.7586C34.2336 18.7588 34.2104 18.7597 34.1872 18.7619C34.1744 18.7631 34.1618 18.7654 34.1492 18.7672C34.1361 18.769 34.1231 18.7704 34.1101 18.7729C34.0961 18.7756 34.0824 18.7792 34.0685 18.7827C34.0572 18.7855 34.0458 18.7878 34.0345 18.7911C34.021 18.795 34.008 18.7999 33.9947 18.8045C33.9834 18.8084 33.972 18.812 33.9609 18.8164C33.9486 18.8212 33.9367 18.8271 33.9247 18.8325C33.9131 18.8378 33.9016 18.8427 33.8902 18.8485C33.8786 18.8546 33.8674 18.8613 33.856 18.868C33.8451 18.8743 33.834 18.8802 33.8234 18.887C33.8106 18.8952 33.7986 18.9042 33.7864 18.9131C33.7779 18.9193 33.7691 18.925 33.7607 18.9316C33.7402 18.9478 33.7205 18.9648 33.7018 18.9828L29.7178 22.8105C29.4065 23.1095 29.4065 23.5942 29.7178 23.8932C29.8734 24.0427 30.0773 24.1175 30.2813 24.1175C30.4853 24.1175 30.6892 24.0427 30.8448 23.8932L33.4688 21.3721V40.1957C33.4688 40.6185 33.8256 40.9613 34.2656 40.9613C34.7057 40.9613 35.0625 40.6185 35.0625 40.1957V19.524C35.0625 19.4986 35.0611 19.4734 35.0585 19.4481Z" fill="#611FCB" />
                        </svg>
                    </div>
                    <section class="about_text">
                        <h1>Обучайся когда удобно</h1>
                        <p>Ты сам решаешь сколько времени уделять прохождению тренажёра</p>
                    </section>
                </div>
            </div>
            <div class="points">
                <div class="paragraph">
                    <div class="icon_about">
                        <svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" viewBox="0 0 56 62" fill="none">
                            <g clip-path="url(#clip0_17_10)">
                                <path d="M41.237 14.4822C36.8242 12.1842 32.4135 9.88155 28.0047 7.57434L0.321991 22.0203L5.05866 24.552L4.66666 24.6218V51.6667H6.99999V26.7995L8.67999 26.4792L9.33332 26.8279V40.4886C9.33332 42.8498 21.4807 49.6155 23.9143 50.9485C25.1796 51.6361 26.5721 51.988 27.9815 51.9763C29.3909 51.9647 30.7785 51.5898 32.0343 50.8813C46.6667 42.5888 46.6666 41.0621 46.6666 40.4886V26.8279L55.6593 22.0307C55.6593 22.0307 46.7927 17.3781 41.237 14.4822ZM44.3333 40.052C40.0493 43.2091 35.5865 46.0583 30.9727 48.5822C30.0411 49.1085 29.0116 49.3872 27.9658 49.3962C26.92 49.4052 25.8868 49.1441 24.948 48.6338C20.3175 46.1948 15.8754 43.3392 11.6667 40.0959V28.0705L28 36.7841L44.3333 28.0705V40.052ZM28 33.9218L12.6373 25.7248L27.7317 22.8444L27.335 20.2947L9.01832 23.7925L5.74466 22.0462L27.9977 10.4341C29.9227 11.4493 47.8847 20.8036 50.2623 22.0436L28 33.9218Z" fill="#611FCB" />
                            </g>
                            <defs>
                                <clipPath id="clip0_17_10">
                                    <rect width="56" height="62" fill="white" />
                                </clipPath>
                            </defs>
                        </svg>
                    </div>
                    <section class="about_text">
                        <h1>Самостоятельное обучение</h1>
                        <p>Ты проходишь тренажёр самостоятельно в удобном темпе без привязки к группе или каким-либо срокам</p>
                    </section>
                </div>
                <div class="paragraph" style="margin-top: 60px;">
                    <div class="icon_about">
                        <svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" viewBox="0 0 57 54" fill="none">
                            <path d="M28.5 15.5454C25.8873 12.3951 21.8596 9.24471 11.8778 9.01352C11.2222 8.99836 10.6875 9.50288 10.6875 10.1242C10.6875 14.7333 10.6875 32.1826 10.6875 37.3432C10.6875 37.9645 11.2222 38.4525 11.8777 38.4727C21.8596 38.7819 25.8873 42.9745 28.5 46.125M28.5 15.5454C31.1127 12.3951 35.1403 9.24471 45.1221 9.01352C45.7779 8.99836 46.3125 9.49154 46.3125 10.1129C46.3125 15.265 46.3125 32.1894 46.3125 37.3417C46.3125 37.9629 45.7779 38.4525 45.1224 38.4727C35.1405 38.7819 31.1127 42.9745 28.5 46.125M28.5 15.5454V46.125" stroke="#611FCB" stroke-width="2.33" stroke-linejoin="round" />
                            <path d="M45.6838 13.5H51.0625C51.7182 13.5 52.25 14.0037 52.25 14.625V43.9627C52.25 44.8731 51.1178 45.4779 50.2396 45.1082C48.3512 44.3133 45.1998 43.3422 41.0735 43.3422C34.0881 43.3422 28.5 47.25 28.5 47.25C28.5 47.25 22.9118 43.3422 15.9265 43.3422C11.8001 43.3422 8.64871 44.3133 6.76037 45.1082C5.88212 45.4779 4.75 44.8731 4.75 43.9627V14.625C4.75 14.0037 5.28167 13.5 5.9375 13.5H11.3162" stroke="#611FCB" stroke-width="2.33" stroke-linejoin="round" />
                        </svg>
                    </div>
                    <section class="about_text">
                        <h1>Встроенный словарь</h1>
                        <p>В тренажёр встроен интерактивный словарь для тренировки турецких слов и фраз</p>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="whatcan" id="advantages">
    <div class="container">
        <div class="about_title">
            <h1>Что можно делать в тренажёре</h1>
        </div>
        <div class="sections_content">
            <div class="section">
                <div class="section_text">
                    <h1>Раздел "Reading"</h1>
                    <p>Тренируй навык понимания <span>турецких</span> текстов и контекста, в котором они употребляются</p>
                </div>
                <img src="img/section_1.svg">
            </div>
            <div class="section">
                <div class="section_text">
                    <h1>Раздел "Writing"</h1>
                    <p>Тренируй орфографию и правописание <span>турецких</span> слов</p>
                </div>
                <img src="img/section_2.svg">
            </div>
            <div class="section">
                <div class="section_text">
                    <h1>Раздел "Grammar"</h1>
                    <p>Прорабатывай грамматику, выполняя упражнения на закрепление грамматических тем и конструкций</p>
                </div>
                <img src="img/section_3.svg">
            </div>
        </div>
    </div>
</div>
<footer style="background-color: #3B2E51; padding: 20px;">
    <div class="container">
        <div class="footer_line">
            <div class="footer_logo">
                <a href="#top"><img src="img/logo.svg"></a>
            </div>
            <div class="text_footer">
                <p><span>Turkish Talk -</span><br>тренажёр самоучитель по турецкому языку<br> на интерактивной платформе</p>
            </div>
            <div class="social">
                <a href="https://t.me/idblow" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" width="66" height="66" viewBox="0 0 66 66" fill="none">
                        <path d="M33 0.800049C15.233 0.800049 0.799988 15.2331 0.799988 33C0.799988 50.767 15.233 65.2 33 65.2C50.767 65.2 65.2 50.767 65.2 33C65.2 15.2331 50.767 0.800049 33 0.800049ZM33 3.60005C49.2538 3.60005 62.4 16.7463 62.4 33C62.4 49.2538 49.2538 62.4 33 62.4C16.7462 62.4 3.59999 49.2538 3.59999 33C3.59999 16.7463 16.7462 3.60005 33 3.60005ZM45.723 17.6493C44.7654 17.6493 43.6894 17.8711 42.4308 18.3247C40.4764 19.0289 17.489 28.7891 14.8738 29.8993C13.3786 30.5349 10.5945 31.7172 10.5945 34.5368C10.5945 36.4058 11.6897 37.7425 13.8457 38.5125C15.0049 38.9255 17.7581 39.7601 19.3555 40.1997C20.0331 40.3859 20.7531 40.4813 21.4937 40.4813C22.9427 40.4813 24.4009 40.1203 25.5433 39.4833C25.5335 39.7185 25.54 39.9562 25.568 40.1942C25.7402 41.6642 26.6466 43.0468 27.9906 43.8938C28.8698 44.4482 36.051 49.2599 37.1234 50.0243C38.6298 51.1009 40.2951 51.6704 41.9359 51.6704C45.0719 51.6704 46.124 48.4324 46.6308 46.877C47.3658 44.6188 50.1181 26.255 50.4289 23.0168C50.6403 20.7978 49.7155 18.9706 47.9543 18.1278C47.2949 17.81 46.542 17.6493 45.723 17.6493ZM45.723 20.4493C46.108 20.4493 46.4518 20.5129 46.743 20.6543C47.4052 20.9721 47.742 21.6806 47.6398 22.7516C47.301 26.2838 44.5555 44.2126 43.9703 46.0102C43.4691 47.5474 42.9411 48.8704 41.9359 48.8704C40.9307 48.8704 39.8326 48.518 38.7504 47.7438C37.6682 46.971 30.4818 42.1517 29.4836 41.5231C28.6086 40.9715 27.6825 39.5965 28.9859 38.2665C30.0597 37.1717 38.205 29.2662 38.9008 28.5704C39.4188 28.051 39.1765 27.4247 38.6683 27.4247C38.4933 27.4247 38.2838 27.4984 38.0668 27.6762C37.2156 28.372 25.3487 36.3128 24.3211 36.9512C23.6407 37.374 22.5871 37.6786 21.4937 37.6786C21.0275 37.6786 20.5555 37.6227 20.1019 37.4981C18.5227 37.0627 15.8502 36.2519 14.7891 35.8739C13.7685 35.5099 13.3973 35.1612 13.3973 34.5368C13.3973 33.6492 14.6501 33.0364 15.9703 32.475C17.3647 31.8828 41.4925 21.6369 43.3797 20.9579C44.2533 20.6415 45.0524 20.4493 45.723 20.4493Z" fill="white" />
                    </svg>
                </a>
                <a href="https://vk.com/id_blow" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 70 70" fill="none">
                        <path d="M35 2.80005C17.233 2.80005 2.79999 17.2331 2.79999 35C2.79999 52.767 17.233 67.2 35 67.2C52.767 67.2 67.2 52.767 67.2 35C67.2 17.2331 52.767 2.80005 35 2.80005ZM35 5.60005C51.2537 5.60005 64.4 18.7463 64.4 35C64.4 51.2538 51.2537 64.4 35 64.4C18.7462 64.4 5.59999 51.2538 5.59999 35C5.59999 18.7463 18.7462 5.60005 35 5.60005ZM21.0027 25.2L15.3535 25.2028C15.3535 25.2028 15.0302 25.1846 14.6398 25.2356C14.2494 25.2866 13.6727 25.3103 13.0812 25.9793L13.0785 25.9821L13.0758 25.9848C12.5497 26.5864 12.5698 27.2866 12.6355 27.6719C12.7011 28.0558 12.8488 28.3446 12.8488 28.3446V28.3473C12.9031 28.4806 17.0049 38.5307 22.1758 43.9305C25.8231 47.7418 29.724 49 33.198 49H35C35.5928 49 36.1223 48.9731 36.709 48.6692C37.2956 48.3653 37.8 47.5266 37.8 46.8754C37.8 46.1738 37.8172 45.4936 37.9066 45.1145C37.9901 44.7605 37.9579 44.8474 37.9914 44.8465C38.025 44.8538 38.086 44.868 38.2019 44.9204C38.4517 45.0333 38.8376 45.2853 39.2656 45.6176C40.1203 46.2812 41.1327 47.2438 42.268 47.9883C43.894 49.066 45.6586 49 45.6586 49H51.4773L51.5402 48.9946C51.5402 48.9946 52.4331 48.9743 53.3504 48.4122C53.809 48.1311 54.3541 47.6155 54.5371 46.8426C54.7201 46.0698 54.4864 45.2589 54.0367 44.5458C53.8724 44.2842 53.0749 43.1283 49.8914 40.302C49.0689 39.5726 48.5081 39.0562 48.2863 38.7817C48.2076 38.6842 48.201 38.6936 48.1851 38.6887C48.2037 38.6408 48.3876 38.2535 48.8797 37.6141C49.3925 36.9477 50.1718 36.0192 51.1738 34.743C52.451 33.1159 53.347 31.5514 53.9109 30.2313C54.1929 29.5712 54.3927 28.9723 54.5125 28.4293C54.6322 27.8864 54.7278 27.4351 54.5508 26.7915C54.4187 26.3123 54.0601 25.8832 53.7086 25.6567C53.3571 25.4302 53.0293 25.3449 52.7351 25.2903C52.1468 25.1811 51.6277 25.2 51.1437 25.2C50.1304 25.2 45.6257 25.2356 45.2539 25.2356C44.8175 25.2356 44.1213 25.4173 43.7992 25.602C42.9994 26.06 42.7492 26.6875 42.7492 26.6875L42.6726 26.8215L42.6289 26.9719C42.6289 26.9719 41.6031 30.2902 40.548 32.0004H40.5453C39.3046 34.0152 38.3792 34.8144 37.9723 35.0411C37.929 35.0651 37.953 35.0524 37.923 35.0684C37.8912 34.9757 37.851 34.8481 37.8246 34.6118C37.7651 34.0794 37.8 33.3298 37.8 32.6047C37.8 30.5966 37.9508 29.3443 37.7836 28.1586C37.7 27.5658 37.4871 26.9056 37.0015 26.3977C36.516 25.8898 35.8888 25.6398 35.2625 25.4954H35.2598C34.607 25.345 33.9036 25.216 32.2137 25.2C30.0605 25.18 28.6581 25.2467 27.4121 25.8016L27.3984 25.8098L27.3875 25.8153C26.8951 26.0465 26.507 26.3116 26.1652 26.6657C25.9943 26.8427 25.7916 26.9716 25.6512 27.5352C25.5809 27.817 25.5732 28.3502 25.8918 28.7821C26.2103 29.214 26.6567 29.3442 26.9199 29.3782C26.8714 29.3719 27.127 29.4281 27.3246 29.5258C27.5222 29.6235 27.6938 29.7642 27.7375 29.8211V29.8239C27.7192 29.8001 27.909 30.2717 27.959 30.7016C28.009 31.1315 28 31.4782 28 31.4782L27.9973 31.5629L28.0055 31.6477C28.0055 31.6477 28.0914 32.5989 28.0465 33.5809C28.024 34.0719 27.9619 34.5661 27.8797 34.8688C27.8753 34.8848 27.8733 34.8792 27.8687 34.8934C27.5182 34.6486 26.71 33.7956 25.5965 31.9567C24.5672 30.2556 23.6031 27.1961 23.6031 27.1961L23.5812 27.1278L23.5566 27.0622C23.5566 27.0622 23.3769 26.3787 22.5832 25.8208C21.8393 25.297 21.1312 25.2247 21.1312 25.2247L21.0027 25.2ZM20.6773 28C20.7574 28.0293 20.9248 28.0896 20.9562 28.104L20.9234 28.0055L20.9672 28.1067L20.9726 28.1094V28.1122H20.9754C20.905 28.0629 20.9647 28.1118 20.9726 28.1231C21.0113 28.255 21.8662 31.1996 23.2012 33.4059C24.4173 35.4144 25.3158 36.5396 26.2965 37.2122C27.2762 37.8841 28.5936 37.8148 29.2633 37.4665C30.1582 37.0017 30.4083 36.2378 30.5812 35.6016C30.7541 34.9654 30.8158 34.3199 30.8437 33.7094C30.897 32.5446 30.8059 31.5918 30.7973 31.4973C30.7987 31.4447 30.8111 30.9896 30.7398 30.3762C30.668 29.7582 30.5392 28.9901 29.9906 28.2188C30.6051 28.1275 30.9462 27.9885 32.1863 28C33.7678 28.0149 34.0084 28.0809 34.6308 28.2243C34.9698 28.3024 35.0075 28.3672 34.9754 28.3336C34.9433 28.3001 34.9726 28.2776 35.0109 28.5497C35.0877 29.0936 35 30.4885 35 32.6047C35 33.2013 34.9424 34.0425 35.041 34.9235C35.1395 35.8039 35.4147 36.9304 36.4793 37.5895C37.0858 37.9649 38.2446 38.094 39.3367 37.4856C40.4288 36.8772 41.5495 35.71 42.9297 33.4688C44.293 31.259 45.1083 28.3536 45.1965 28.0465C45.1965 28.0465 45.212 28.0364 45.2211 28.0301C45.2458 28.0313 45.2143 28.0356 45.2539 28.0356C45.7725 28.0356 50.1971 28 51.1437 28C51.4042 28 51.5185 28.0141 51.7125 28.0219C51.6341 28.3242 51.5287 28.6762 51.3351 29.1293C50.8802 30.1945 50.0994 31.576 48.9699 33.0149C47.9965 34.2545 47.2404 35.1537 46.6621 35.9051C46.0838 36.6566 45.6296 37.2493 45.4398 38.1063C45.2501 38.9633 45.6121 39.9299 46.107 40.5426C46.6019 41.1553 47.2144 41.6714 48.032 42.3965C51.1121 45.1311 51.6175 45.9588 51.666 46.036V46.0387C51.718 46.1212 51.6843 46.0383 51.7043 46.0797C51.5296 46.1342 51.3218 46.1958 51.3023 46.2H45.6367H45.6285C45.6285 46.2 44.5865 46.1659 43.8129 45.6532L43.8101 45.6504H43.8074C42.989 45.1144 42 44.1952 40.9828 43.4055C40.4742 43.0107 39.9564 42.6407 39.3558 42.3692C38.7553 42.0977 37.9941 41.9052 37.193 42.145C36.0334 42.492 35.3899 43.5956 35.1832 44.4719C35.0348 45.101 35.0568 45.6481 35.0519 46.1973C35.012 46.1994 35.0466 46.2 35 46.2H33.198C30.3525 46.2 27.3922 45.3314 24.1992 41.9946C20.048 37.6596 16.3442 29.2763 15.7883 28.0028L20.6773 28ZM45.098 28.011C45.0726 28.0166 45.1453 28.0221 45.2047 28.0274C45.1966 28.0317 45.2054 28.0235 45.1937 28.0301C45.1926 28.0067 45.1322 28.0034 45.098 28.011Z" fill="white" />
                    </svg>
                </a>
                <a href="https://wa.me/79046531807" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 70 70" fill="none">
                        <path d="M35 3.64575C29.5535 3.6516 24.2023 5.0748 19.4725 7.77541C14.7426 10.476 10.7971 14.3611 8.02373 19.0486C5.25036 23.7361 3.74465 29.0647 3.65464 34.5105C3.56464 39.9562 4.89344 45.3316 7.5104 50.1083L3.64581 66.3541L19.8916 62.4895C24.0818 64.7881 28.742 66.0984 33.516 66.3203C38.2901 66.5421 43.0517 65.6697 47.437 63.7696C51.8223 61.8696 55.7152 58.9922 58.8182 55.3573C61.9212 51.7225 64.1522 47.4264 65.3408 42.7973C66.5293 38.1682 66.6439 33.3287 65.6758 28.6486C64.7076 23.9684 62.6824 19.5715 59.7549 15.7939C56.8274 12.0162 53.0751 8.95782 48.7846 6.85235C44.4942 4.74688 39.7792 3.65007 35 3.64575ZM19.3229 17.8937H27.8687C28.2555 17.8937 28.6264 18.0473 28.8999 18.3208C29.1734 18.5943 29.3271 18.9652 29.3271 19.352C29.2792 21.2968 29.606 23.2327 30.2896 25.0541C30.5839 25.6638 30.6487 26.3592 30.4719 27.0127C30.2951 27.6663 29.8886 28.2342 29.3271 28.6124L26.3375 31.5291C27.663 34.1177 29.3963 36.4763 31.4708 38.5145C33.4925 40.6228 35.8415 42.3907 38.4271 43.7499L41.3437 40.7603C42.8021 39.302 43.4729 39.302 44.9021 39.7978C46.7234 40.4814 48.6593 40.8082 50.6041 40.7603C50.9852 40.7781 51.3459 40.9374 51.6156 41.2072C51.8854 41.4769 52.0447 41.8376 52.0625 42.2187V50.7645C52.0447 51.1456 51.8854 51.5063 51.6156 51.776C51.3459 52.0457 50.9852 52.2051 50.6041 52.2228C42.0256 51.8491 33.894 48.2928 27.7958 42.2478C21.7414 36.156 18.1834 28.0206 17.8208 19.4395C17.8243 19.0381 17.9823 18.6535 18.2621 18.3656C18.5418 18.0777 18.9217 17.9087 19.3229 17.8937Z" stroke="white" stroke-width="2.67" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
</footer>
<script src="js/header_scroll.js"></script>
