body {
    margin: 0;
    font-family: "Inter";
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    width: 1344px;
    margin: auto;
}

header {
    width: 100%;
    background-color: #3B2E51;
}

 header 
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
}

.navbar img {
    height: 110px;
}

.navbar a {
    font-size: 23px;
    font-weight: 400;
    color: #fff;
}


.persona {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
    padding: 40px 0px;
}

.ava img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid #3B2E51;
    object-fit: cover;
    margin-right: auto;
}

.info {
    padding-left: 100px;
}

.sections {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.section {
    width: 23%;
}

.info_section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border-radius: 15px;
    font-size: 30px;
}

.progress {
    font-size: 20px;
}

.footer_line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text_footer span {
    font-size: 25px;
    font-weight: 500;
}

.text_footer p {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 23%;
}
.edit {
    display: flex;
    flex-direction:column;
    padding-bottom: 40px;
}
.edit_row {
    width: 400px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 1px solid #3B2E51;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 20px;
}
.btn_answer {
    width: 200px;
    height:40px;
    font-family: 'Inter';
    font-size: 18px;
    color: #fff;
    background: #3B2E51;
    border: #FFDD28 2px solid;
    border-radius: 10px;
    padding: 0px 30px;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}